* {
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 2rem;
}

div.pokedex {
  background-image: url("./assets/pokedex.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 480px;
  height: 855px;
}

.btn-change {
  position: relative;
  width: 40px;
  height: 40px;
  top: 690px;
  border-radius: 5px;
  background-color: transparent;
  border-style: hidden;
}

.btn-left {
  left: 250px;
}

.btn-right{
  left: 295px;
}

/*
* 
*/

@media only screen and (min-width: 480px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}